# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\object_oriented_c\object_oriented_c\1_modulized_c_and_obj_oriented\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
